In [20]:
##print odd value between 20 and 80, without using if. Using for loop only.

for i in range(20,80):
    if i%2==0:
        pass
    else:
        print("",i)

 21
 23
 25
 27
 29
 31
 33
 35
 37
 39
 41
 43
 45
 47
 49
 51
 53
 55
 57
 59
 61
 63
 65
 67
 69
 71
 73
 75
 77
 79

In [30]:
l1=[]
for i in range(1,21):
    l1.append(i)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [32]:
for i in range(21,0):
    l1.append(i)
l1[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
for i in range(20,40):
    if i%2==0:
        pass
    else:
    	print("",i*i*i)

 9261
 12167
 15625
 19683
 24389
 29791
 35937
 42875
 50653
 59319

In [42]:
name=["a","b","c","d","e"]
age=[20,21,23,25,24]
for i in range(0,5):
    print("My name is ",name[i],"My age is",age[i])

My name is  a My age is 20
My name is  b My age is 21
My name is  c My age is 23
My name is  d My age is 25
My name is  e My age is 24

In [57]:
lt=[1,2,3,4,5,6,7,8]
temp=lt[0]
lt[0]=lt[7]
lt[7]=temp

print(lt)

[8, 2, 3, 4, 5, 6, 7, 1]

In [55]:
str="My Name is Rushikesh"
len(str)

#print(len(str))

20

In [66]:
total=0
list=[1,4,-5,-20,10] 
for i in range(0,len(list)):
    if list[i]>0:
        total=total+list[i]
print("The Sum of positive elements of a list",total)

The Sum of positive elements of a list 15