<a href="https://colab.research.google.com/github/rushipatil2604l/Python/blob/main/tast3def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#to print * pattern
def star(a):
  b=0
  while b<=a:
    print("*" *b)
    b=b+1

star(6)

*
**
***
****
*****
******

In [14]:
#multiplication of three values
def mult(a,b,c):
  return a*b*c

mult(2,2,2)

8

In [15]:
# calculate the power of any number
def power(a,b):
  return a**b

power(2,6)

64

In [17]:
#to find the cube of any number
def cube(a):
  return a**3


cube(3)

27

In [24]:
# to find the variance
def var(nums):
  total=0

  for num in nums:
    total=total+(num-mean(nums))**2
    return total/len(nums)

var([1,2,3,4,5])

NameError: ignored

In [28]:
# to find the factorial
def fact(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact
fact(6)

720

In [32]:
#To print the addition of only even numbers in a list
def even_add(nums):
    a=0
    for i in nums:
        if i % 2 ==0:
           a=a+i
    return a
nums=[2,3,4,56,78,98,34,33,55,77]
even_add(nums)

272

In [44]:
# to print your name multiple times
def names(n):
  for i in range(1,n+1):
    print("Rushikesh",end='\n')

names(4)

Rushikesh
Rushikesh
Rushikesh
Rushikesh

In [52]:
# to create a list using fucntion
def create_list(a,b):
  l1=[]
  for i in range(a,b+1):
    l1.append(i)
  return l1

create_list(20,56)

[20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56]